body {
color: #323A45 / #848484; }
* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

/*NAVIGATION*/
.header-nav, .bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}
.bottom-nav {
    margin-top: 10vh;
    align-items: flex-start;

}
/* .bottom-nav div {
    width: 25%;
} */
.h1__link:hover, .nav__link:hover {
    color:#000;
}
.header-menu {
    list-style: none;
}
.header__item {
    display: inline-block;
    padding: 20px 0 20px 20px;
}
.nav__link, .h1__link{
    text-decoration: none;
    font-size: 0.7rem;
    color:#000;
    display: block;
    font-weight: bold;
}
.nav__p {
    font-size: 0.7rem;
    color: #000;
}
.bottom-nav h2{
    color: #000;
}
/*MAIN*/
main {
    width: 85%;
    margin: 0 auto;
}
.main-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3fr;
    justify-items: center;
    align-items: center;
    gap: 15px;

}

.product__name, .price, h2{
    font-size: 0.8rem;
    line-height: 4vh;
    color:  #323A45;
    padding-bottom: 5vh;
}
.company {
    color: #848484;
    display: block;
}
.big {
    grid-column: 1 / -1;
}

img {
    width: 100%;
}
img:hover {
    opacity: 0.5;
}
figcaption {
    display: flex;
    justify-content: space-between;
    
}

/* .bottom-nav {
    display: flex;
    width: 85%;
    justify-content: space-evenly;

} */

footer .nav__p {
    color: #848484;
    margin: 10vh 0 5vh 7.5%;
}